
.css-y4gjqo {
    padding: 4px;
    background: #e4f4ed;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: -0.38px;
    line-height: 24px;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    color: #001433;
  }
  