.thumbnail-list {
 list-style: none;
 padding: 0;
 height: 300px;
 width: 71px;
 max-height: 300px;
 overflow: auto;
}

.thumbnail-list li {
 cursor: pointer;
 margin: 6px;
 position: relative;
}

.thumbnail-list li img {
 max-width: 60px;
 height: 70px;
 border: 1px solid #ddd;
 border-radius: 10px;
 transition: transform 0.2s;
}

.thumbnail-list li img:hover {
 transform: scale(1.1);
}

.main-image {
 width: 360px;
 height: 300px;
 overflow: hidden;
 max-width: 360px;
 padding: 0px;
}

.main-image img {
 width: 100%;
 height: 100%;
 object-fit: cover;
}

.stars {
 color: #ffbf00;
 margin-right: 5px;
}

.product-buttons .btn:hover {
 box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

#wishlistBtn:hover {
 cursor: pointer;
 border-radius: 0.375rem;
 box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.favorite-button {
 color: #ff0000;
}

.user-review-input .fa-star {
 cursor: pointer;
}

#scrollbar::-webkit-scrollbar-track {
 -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
 border-radius: 10px;
 background-color: #f5f5f5;
}

#scrollbar::-webkit-scrollbar {
 width: 12px;
 background-color: #f5f5f5;
}

#scrollbar::-webkit-scrollbar-thumb {
 border-radius: 10px;
 -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
 background-color: #555;
}

.related-products img {
 width: 200px;
 max-width: 300px;
 height: 120px;
 object-fit: cover;
}

.myContainer {
    margin: 0 auto;
    width: 70%;
}

.image{
    margin-left: 15px;
}
.product-details ,
.product-buttons{
    margin-left: 20px;
}