<div class=" col-md-6 order-md-last ftco-animate makereservation p-4 p-md-5 pt-5 fadeInUp ftco-animated">
    <div class="all">
        <div class=" py-md-5 p-4">
        <div class="heading-section ftco-animate mb-5 fadeInUp ftco-animated text-center">
            <h2 class="mb-4 head">Make Reservation</h2>
        </div>
        <form (submit)="performAction()">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="head" for=""> First Name</label>
                        <input type="text" class="form-control" placeholder="First Name">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="head" for=""> Last Name</label>
                        <input type="text" class="form-control" placeholder="Last Name">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="head" for="">Phone</label>
                        <input type="text" class="form-control" placeholder="Your Phone">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="head" for="">Date</label>
                        <input type="date" class="form-control" placeholder="Date">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="head" for="">Time</label>
                        <input type="time" class="form-control" id="book_date" placeholder="Time">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="head" for="">Tabel Type</label>
                        <div class="select-wrap one-third">
                            <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                            <select id="tableType" name="tableType" class="form-control">
                                <option value="">Select table type</option>
                                <option *ngFor="let table of tables" [value]="table.id">{{ table.name }} for {{table.capacity}} persons</option>
                            </select>
                            </div>
                         </div>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <div class="form-group mt-3">
                        <textarea class="form-control ui-timepicker-input" placeholder="Type your notes here" id="w3review" name="w3review" rows="4" cols="50"></textarea>
                    </div>
                </div>
                <div class="col-md-12 mt-3 text-center">
                    <div class="form-group">
                        <input type="submit" value="Make a Reservation" class="btn btn-primary py-3 px-5">
                    </div>
                </div> 
                <div class="col-md-12 mt-3 text-center">
                    <div class="form-group">
                        <button (click)="Back()"class="btn btn-primary py-3 px-5">Back</button>
                    </div>
                </div> 
        </form>
    </div>
</div>
</div>

