<div class="container mt-5 restaurant-contact">
    <div class="row">
        <div class="col-md-4">
            <div class="d-flex align-items-center">
                <i class="fas fa-map-marker-alt me-3"></i>
                <p> Manawahla, El-Bajour</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="d-flex align-items-center">
                <i class="fas fa-envelope me-3"></i>
                <p>mohamed27atef@gmail.com</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="d-flex align-items-center">
                <i class="fas fa-phone me-3"></i>
                <p>+201000538301</p>
            </div>
        </div>
    </div>
</div>