<div class="container mt-5 restaurant-contact">
    <div class="row justify-content-center">
        <div class="col-md-3">
            <div class="row align-items-center">
                <i class="fas fa-map-marker-alt me-3"></i>
                <p> {{address}}</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row align-items-center">
                <i class="fas fa-envelope me-3"></i>
                <p>{{email}}</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row align-items-center">
                <i class="fas fa-phone me-3"></i>
                <p>{{phone}}</p>
            </div>
        </div>
    </div>
</div>


