
<app-palstine></app-palstine>
<div class="hero_area">
  <div class="bg-box">
    <img src="assets/images/hero-bg.jpg" alt="" />
  </div>
  <app-search
    (selectedLocatoin)="getLocatoin($event)"
    (myEvent)="getCategoryId($event)"
  ></app-search>
  <app-restaurant-owl-carousel #restaurant></app-restaurant-owl-carousel>
</div>

<!-- <app-most-popular></app-most-popular> -->
<div class="mostPopular">
  <app-most-popular-recipes></app-most-popular-recipes>
</div>
<app-reservation-container></app-reservation-container>
