<app-header></app-header>
<!-- <app-home></app-home> -->
<!-- <app-most-popular></app-most-popular> -->
<app-order-details></app-order-details>

<!-- <app-slider></app-slider> -->
<!-- <app-contact-us></app-contact-us> -->

<app-restaurant></app-restaurant>
<!-- <app-cart-page></app-cart-page> -->

<app-book-container></app-book-container>
<!-- <app-contact-us></app-contact-us> -->


<!-- <app-recipe-details></app-recipe-details> -->
<!-- <app-footer class="d-inline"></app-footer> -->

<!-- <app-reserve-table></app-reserve-table> -->
<!-- <app-reservation-container></app-reservation-container> -->
<!-- <app-recipe-details></app-recipe-details> -->
<app-footer class="d-inline"></app-footer>

