<app-header></app-header>

<!-- <router-outlet></router-outlet> -->
<!-- <app-create-resturant></app-create-resturant> -->
<!-- <app-create-recipe></app-create-recipe> -->
<!-- <app-admin-orders></app-admin-orders> -->

<!-- <router-outlet></router-outlet> -->
<app-search-receipe-resturant></app-search-receipe-resturant>

<app-footer class="d-inline"></app-footer>

<!-- <app-status [showStatus]="showStatusComponent"></app-status>

<button (click)="toggleStatusComponent()">Toggle Status Component</button> -->
