.input-group .fa {
 position: absolute;
 top: 50%;
 transform: translateY(-50%);
 right: 10px;
 cursor: pointer;
 z-index: 2;

}

.input-group .form-control {
 padding-right: 20px;
 z-index: 1;
}

.input-group .btn:hover {
 background-color: white;
 border: 0px;
}