
<resturamt-images [images]="images" [mainImage]="currentRestaurant.image"></resturamt-images>
<restaurant-info [oppeningHour]="currentRestaurant.openHours" [closingHour]="currentRestaurant.closingHours" [closingDays]="currentRestaurant.clossingDays" [name]="currentRestaurant.name" [rate]="currentRestaurant.rate"></restaurant-info>
<restaurant-contact  [address]="currentRestaurant.address" [email]="currentRestaurant.email" [phone]="currentRestaurant.phone"></restaurant-contact>
<restaurant-menu></restaurant-menu>
<restaurant-offers></restaurant-offers>
<restaurant-reservations></restaurant-reservations>
