<!-- <div *ngIf="images">
    <resturamt-images [images]="images" [mainImage]="currentRestaurant.image"></resturamt-images>
</div>
<div *ngIf="currentRestaurant">
    <restaurant-info [oppeningHour]="currentRestaurant.openHours" [closingHour]="currentRestaurant.closingHours" [closingDays]="currentRestaurant.clossingDays" [name]="currentRestaurant.name" [rate]="currentRestaurant.rate"></restaurant-info>
    <restaurant-contact  [address]="currentRestaurant.address" [email]="currentRestaurant.email" [phone]="currentRestaurant.phone"></restaurant-contact>
</div>  -->

<restaurant-menu #menu></restaurant-menu>
<!-- <restaurant-offers></restaurant-offers>
<restaurant-reservations></restaurant-reservations> -->
