* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f4f4fb;
}

h2 {
  font: 18px;
  padding: 15px 0;
}
h2 > span {
  font-size: 14px;
}

/*------------------------------*/
.navbar {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 55px;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 2;
  padding-left: 6rem;
}

.profile {
  display: flex;
  width: 32%;
  max-width: 200px;
  justify-content: space-around;
  align-items: center;
}

.profile-image {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-name {
  font-size: 0.9rem;
  margin-left: -20px;
}

.side-toggle {
  position: fixed;
  z-index: 2;
  top: 12.5px;
  left: 25px;
  float: right;
  font-size: 20px;
  cursor: pointer;
}

#toggle {
  display: none;
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 200px;
  left: 0;
  top: 0;
  padding: 80px 0 200px 0;
  color: #ffffff;
  background-color:rgb(35, 32, 32);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

.sidebar-menu {
  display: flex;
  align-items: center;
  padding: 15px 25px;
  width: 100%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.sidebar-menu p {
  margin-bottom: -9px;
}
.sidebar-menu > span {
  font-size: 25px;
  padding-right: 30px;
}
.sidebar-menu > .svg {
  font-size: 25px;
  padding-right: 30px;
}

.sidebar-menu:hover {
  color: #e69c00;
  background-color: #9b7c7c4b;
}

#toggle:checked ~ .sidebar {
  width: 70px;
}

#toggle:checked ~ .sidebar .sidebar-menu > p {
  display: none;
}

#toggle:checked ~ main {
  padding: 6rem 2rem 2rem 6rem;
}

/*------------------------------*/
main {
  min-height: 100%;
  padding: 6rem 1rem 2rem 14rem;
  color: #ffffff;
}

.dashboard-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.5fr 0.5fr;
  grid-template-rows: auto;
  gap: 1rem;
  grid-template-areas:
    "total1 total2 total3 total4 total4"
    "detail detail detail customer customer"
    "detail detail detail customer customer";
}
.container {
  margin-left: 20%;
  margin-top: 20px;
}

a {
  color: white;
}

.active {
  color: yellowgreen;
}