<div *ngFor="let product of cartProducts" class="cart-product-card">
  <img [src]="'src/assets/images/f1.png' + product.imageUrl" alt="Product Image">
  <div class="product-name">{{ product.name }}</div>
  <div class="quantity">
    Quantity:
    <button (click)="decreaseQuantity(product)">-</button>
    {{ product.quantity }}
    <button (click)="increaseQuantity(product)">+</button>
  </div>
  <div class="total-price">Total Price: ${{ product.price * product.quantity }}</div>
</div>
<div class="total-summary">
  <div class="total-amount">Total Amount: {{ getTotalNumberOfProducts() }}</div>
  <div class="total-price">Total Price: ${{ getTotalPrice() }}</div>
</div>

