<br><br>



<section id="menu" class="menu">
  <div class="container">
    <div class="section-title">
      <h2 class="menu-title">Check our tasty <span>Menu</span></h2>
    </div>
    <div class="row">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="menu-flters">
          <li data-filter="*" class="filter-active">Show All</li>
          <li data-filter=".filter-starters">Starters</li>
          <li data-filter=".filter-salads">Salads</li>
          <li data-filter=".filter-specialty">Specialty</li>
          <li data-filter=".filter-BadGhaly">bad ghaly</li>

        </ul>
      </div>
    </div>
  
          <div class="row menu-container">
  
            <div class="col-lg-6 menu-item filter-specialty">
              <div class="d-flex align-items-center">
                <img class="flex-shrink-0 img-fluid rounded" src="assets/images/f2.png" alt="Alternative Text" style="width: 50px;">
                <div class="w-100 d-flex flex-column text-start ps-4">
                    <div class="menu-content">
                      <a href="#">Eisaa With rice</a><span>$6.95</span>
                    </div>
                    <div class="menu-ingredients">
                      Eissa, rice, frise, salad, bread
                    </div>
                  </div>
              </div>
            </div>
  
            <div class="col-lg-6 menu-item filter-specialty">
              <div class="d-flex align-items-center">
                <img class="flex-shrink-0 img-fluid rounded" src="assets/images/f2.png" alt="Alternative Text" style="width: 50px;">
                <div class="w-100 d-flex flex-column text-start ps-4">
                    <div class="menu-content">
                      <a href="#">Eisaa With rice</a><span>$6.95</span>
                    </div>
                    <div class="menu-ingredients">
                      Eissa, rice, frise, salad, bread
                    </div>
                  </div>
              </div>
            </div>
  
            <div class="col-lg-6 menu-item filter-starters">
              <div class="d-flex align-items-center">
                <img class="flex-shrink-0 img-fluid rounded" src="assets/images/f2.png" alt="Alternative Text" style="width: 50px;">
                <div class="w-100 d-flex flex-column text-start ps-4">
                    <div class="menu-content">
                      <a href="#">Eisaa With rice</a><span>$6.95</span>
                    </div>
                    <div class="menu-ingredients">
                      Eissa, rice, frise, salad, bread
                    </div>
                  </div>
              </div>
            </div>
  
            <div class="col-lg-6 menu-item filter-salads">
              <div class="d-flex align-items-center">
                <img class="flex-shrink-0 img-fluid rounded" src="assets/images/f2.png" alt="Alternative Text" style="width: 50px;">
                <div class="w-100 d-flex flex-column text-start ps-4">
                    <div class="menu-content">
                      <a href="#">Eisaa With rice</a><span>$6.95</span>
                    </div>
                    <div class="menu-ingredients">
                      Eissa, rice, frise, salad, bread
                    </div>
                  </div>
              </div>
            </div>
  
            <div class="col-lg-6 menu-item filter-specialty">
              <div class="d-flex align-items-center">
                <img class="flex-shrink-0 img-fluid rounded" src="assets/images/f2.png" alt="Alternative Text" style="width: 50px;">
                <div class="w-100 d-flex flex-column text-start ps-4">
                    <div class="menu-content">
                      <a href="#">Eisaa With rice</a><span>$6.95</span>
                    </div>
                    <div class="menu-ingredients">
                      Eissa, rice, frise, salad, bread
                    </div>
                  </div>
              </div>
            </div>
  
            <div class="col-lg-6 menu-item filter-BadGhaly">
              <div class="d-flex align-items-center">
                <img class="flex-shrink-0 img-fluid rounded" src="assets/images/f2.png" alt="Alternative Text" style="width: 50px;">
                <div class="w-100 d-flex flex-column text-start ps-4">
                    <div class="menu-content">
                      <a href="#">Eisaa With rice</a><span>$6.95</span>
                    </div>
                    <div class="menu-ingredients">
                      Eissa, rice, frise, salad, bread
                    </div>
                  </div>
              </div>
            </div>
  
          </div>
  
        </div>
      </section>
