<br><br>

<section id="menu" class="menu">
  <div class="container">
    <div class="section-title">
      <h2 class="menu-title">Check our tasty <span>Menu</span></h2>
    </div>
    <div class="row">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="menu-flters">
          <li data-filter="*" class="filter-active">Show All</li>
          <li *ngFor="let menu of menus" [attr.data-filter]="'.filter-{{menu.title}}'">{{ menu.title }}</li>
        </ul>
      </div>
    </div>
  
    <div class="row menu-container">
      <div *ngFor="let recipe of recipes" class="col-lg-6 menu-item 'filter-{{recipe.menuName}}'">
        <div class="d-flex align-items-center">
          <p>dfdfdkfdk{{recipe.menuName}}</p>
          <img class="flex-shrink-0 img-fluid rounded" [src]="recipe.imageUrl" alt="Alternative Text" style="width: 50px;">
          <div class="w-100 d-flex flex-column text-start ps-4">
            <div class="menu-content">
              <a href="#">{{recipe.name}}</a><span>${{recipe.price.toFixed(2)}}</span>
            </div>
            <div class="menu-ingredients">
              {{recipe.description}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
