h1 {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.input-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.input-field {
  flex: 1;
}

label {
  display: block;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

.error-message {
  color: #ff0000;
  font-size: 12px;
}

button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
}

button:hover {
  background-color: #555;
}
button:disabled {
  background-color: #999;
  color: #ccc;
  cursor: not-allowed;
}
#Description {
  width: 100%;
}
