<div class="container my-4 fs-6">
  <div class="row mb-3">
    <div class="col m-3 d-flex justify-content-between">
      <input
        type="text"
        onfocus="(this.type='date')"
        onblur="(this.type='text')"
        class="form-control"
        placeholder="Filter by Date"
        [(ngModel)]="filterDate"
        (input)="applyFilters()"
      />
      <button
        (click)="clearDate()"
        class="search-button m-1"
        *ngIf="filterDate"
      >
        clear
      </button>
    </div>
    <div class="col m-3">
      <select
        class="form-control"
        [(ngModel)]="filterRestaurant"
        (change)="applyFilters()"
      >
        <option value="">All Restaurants</option>
        <option *ngFor="let item of restaurants" [value]="item.name">
          {{ item.name }}
        </option>
      </select>
    </div>

    <div class="col m-3">
      <select
        class="form-control"
        [(ngModel)]="filterStatus"
        (change)="applyFilters()"
      >
        <option value="">All Statuses</option>
        <option *ngFor="let item of status" [value]="item">{{ item }}</option>
      </select>
    </div>
  </div>

  <table class="table table-hover table-lg text-center">
    <thead class="thead-light">
      <tr>
        <th>Status</th>
        <th>Restaurant Name</th>
        <th>Created At</th>
        <th>Total Price</th>
        <th>Address</th>
        <th>Details</th>
      </tr>
    </thead>

    <tbody>
      <ng-container *ngIf="filteredOrders.length > 0; else emptyOrder">
        <tr *ngFor="let order of filteredOrders">
          <td>
            <span
              class="badge {{
                getSatausColor(order.status)
              }} text-dark rounded-pill fs-6"
              >{{ order.status }}</span
            >
          </td>
          <td>{{ order.restaurantName }}</td>
          <td>{{ order.formattedDateTime }}</td>
          <td>
            <p class="text-muted mb-0">${{ order.totalPrice }}</p>
          </td>
          <td>{{ order.street }}-{{ order.city }}-{{ order.country }}</td>
          <td>
            <a
              [routerLink]="['OrderUserDetails/' + order.id]"
              [queryParams]="{
                status: order.status,
                totalPrice: order.totalPrice,
                retaurantId: order.restaurantId
              }"
              type="button"
              class="btn btn-warning"
            >
              Details
            </a>
          </td>
        </tr>
      </ng-container>
      <ng-template #emptyOrder>
        <tr>
          <td colspan="7" style="color: brown; font-size: larger">
            Orders are empty
          </td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>
<div
  class="modal fade"
  id="OrderDetails"
  tabindex="-1"
  aria-labelledby="OrderDetails"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Order Details</h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body bg-dark">
        <!-- <app-order-user-details></app-order-user-details> -->
      </div>
    </div>
  </div>
</div>
<app-pagination (changeDataEvent)="handleChangeDataEvent($event)"></app-pagination>
