<form>
  <div class="row mb-3">
    <div class="col-md-6">
      <label for="registerName" class="form-label">First Name</label>
      <input
        type="text"
        class="form-control"
        id="registerFirstName"
        name="registerFirstName"
        [(ngModel)]="user.firstName"
      />
      <div *ngIf="user.firstName == ''" class="text-danger mt-1 fw-bold">
        {{ user.firstNameError }}
      </div>
    </div>
    <div class="col-md-6">
      <label for="registerUsername" class="form-label">Last Name</label>
      <input
        type="text"
        class="form-control"
        id="registerLastName"
        name="registerLastName"
        [(ngModel)]="user.LastName"
      />
      <div *ngIf="user.LastName == ''" class="text-danger mt-1 fw-bold">
        {{ user.LastNameError }}
      </div>
    </div>
  </div>
  <div class="mb-3">
    <label for="registerEmail" class="form-label">Email</label>
    <input
      type="email"
      class="form-control"
      id="registerEmail"
      name="registerEmail"
      [(ngModel)]="user.email"
    />
    <div
      *ngIf="user.email == null || user.email != null"
      class="text-danger mt-1 fw-bold"
    >
      {{ user.emailError }}
    </div>
  </div>
  <div class="mb-3">
    <label for="registerPassword" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      id="registerPassword"
      name="registerPassword"
      [(ngModel)]="user.password"
    />
    <div *ngIf="user.password == ''" class="text-danger mt-1 fw-bold">
      {{ user.passwordError }}
    </div>
  </div>
  <div class="mb-3">
    <label for="registerconfirmPassword" class="form-label"
      >Confirm Password</label
    >
    <input
      type="password"
      class="form-control"
      id="registerconfirmPassword"
      name="registerConfirmPassword"
      [(ngModel)]="user.confirmPassword"
    />
    <div
      *ngIf="user.confirmPassword == '' || user.confirmPassword != ''"
      class="text-danger mt-1 fw-bold"
    >
      {{ user.confirmPasswordError }}
    </div>
  </div>
  <div
    class="mb-3 form-check"
    [style.border]="checkboxError == false ? 'none' : '2px solid red'"
  >
    <input
      type="checkbox"
      class="form-check-input"
      id="registerCheck"
      name="registerCheck"
      [(ngModel)]="registerCheck"
    />
    <label class="form-check-label" for="registerCheck"
      >I have read and agree to the terms</label
    >
  </div>
  <button (click)="signUp()" class="btn btn-warning shadow">Sign up</button>
</form>
