<form>
  <div class="mb-3">
    <label for="registerName" class="form-label">Name</label>
    <input
      type="text"
      class="form-control"
      id="registerName"
      name="registerName"
    />
  </div>
  <div class="mb-3">
    <label for="registerUsername" class="form-label">Username</label>
    <input
      type="text"
      class="form-control"
      id="registerUsername"
      name="registerUsername"
    />
  </div>
  <div class="mb-3">
    <label for="registerEmail" class="form-label">Email</label>
    <input
      type="email"
      class="form-control"
      id="registerEmail"
      name="registerEmail"
    />
  </div>
  <div class="mb-3">
    <label for="registerPassword" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      id="registerPassword"
      name="registerPassword"
    />
  </div>
  <div class="mb-3">
    <label for="registerRepeatPassword" class="form-label"
      >Repeat Password</label
    >
    <input
      type="password"
      class="form-control"
      id="registerRepeatPassword"
      name="registerRepeatPassword"
    />
  </div>
  <div class="mb-3 form-check">
    <input
      type="checkbox"
      class="form-check-input"
      id="registerCheck"
      name="registerCheck"
    />
    <label class="form-check-label" for="registerCheck"
      >I have read and agree to the terms</label
    >
  </div>
  <button type="submit" class="btn btn-warning shadow">Sign up</button>
</form>
