<div
  class="col-md-6 order-md-last ftco-animate makereservation p-4 p-md-5 pt-5 fadeInUp ftco-animated"
>
  <div class="all">
    <div class="overlay">
      <div class="py-md-5 p-3">
        <div
          class="heading-section ftco-animate mb-5 fadeInUp ftco-animated text-center"
        >
          <h2 class="mb-3 head">Make Reservation</h2>
        </div>
        <form (submit)="performAction()" [formGroup]="selectionForm">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="mb-2" class="head">Select Restaurant</label>
                <div class="select-wrap one-third">
                  <div class="icon">
                    <span class="ion-ios-arrow-down"></span>
                  </div>
                  <select
                    id="restaurantName"
                    formControlName="rest"
                    [(ngModel)]="selectedId"
                    name="restaurantName"
                    class="form-control"
                  >
                    <option
                      *ngFor="let restaurant of restaurants"
                      [value]="restaurant.id"
                    >
                      {{ restaurant.name }}
                    </option>
                  </select>
                </div>
                <span
                  class="text-danger small"
                  *ngIf="
                    selectionForm.get('rest')?.getError('required') &&
                    selectionForm.get('rest')?.touched
                  "
                  >Required</span
                >
              </div>
            </div>
          </div>
          <div class="col-md-12 mt-3 text-center mt-5">
            <div class="form-group">
              <input
                type="submit"
                [disabled]="selectionForm.invalid"
                value="confirm selection"
                class="btn btn-primary py-3 px-5"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>